* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

.logotipo {
    align-self: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 420px;
}

.titulo {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 20px;
}

.subtitulo {
    font-size: 14px;
    margin-top: 10px;
}

.usuario,
.senha {
    margin-top: 20px;
    font-size: 16px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid;
    padding: 8px;
}

.usuario:hover {
    border: 1px solid rgb(95, 168, 250);
}

.senha:hover {
    border: 1px solid rgb(95, 168, 250);
}

.link {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: #0a66c2;
    text-decoration: none;
}

.link:hover {
    color: rgb(95, 168, 250);
}

.esquesio-senha {
    margin-top: 10px;
}

.login {
    background-color: #0073b1;
    color: #fff;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600;
    line-height: 52px;
    margin-top: 16px;
}

.login:hover {
    background-color: rgb(95, 168, 250);
    border: 1px solid rgb(141, 141, 141);
}

.cria-conta {
    margin-top: 20px;
}

footer {
    display: none;
}

.a {
    text-decoration: none;
    color: #0a66c2;
    font-weight: 600;
}

.a:hover {
    color: rgb(95, 168, 250);
}

@media screen and (min-width: 770px) {
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    main {
        width: 416px;
        margin: 0 auto;
    }
    .card {
        border-radius: 8px;
        box-shadow: 0 4px 12px rgb(0 0 0 / 25%);
        padding: 24px 32px 32px 32px;
        margin-top: 20px;
    }
    footer {
        display: flex;
        width: 100%;
        justify-content: space-around;
        max-width: 1110px;
        margin: 10px auto;
        font-size: 12px;
    }
}